<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li {{#if (isEquals current_path 'Dashboard')}}class="active"{{/if}}>
                <a href="/dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span>대시보드</span>
                    {{#if (isEquals current_path 'Dashboard')}}
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right text-green"></i>
                    </span>
                    {{/if}}
                </a>
            </li>

            <li {{#if (isEquals current_path 'Achievement')}}class="active"{{/if}}>
                <a href="/achievement">
                    <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                    <span>교육 진척도</span>
                    {{#if (isEquals current_path 'Achievement')}}
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right text-green"></i>
                    </span>
                    {{else if (isEquals current_path 'AchievementDetails')}}
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right text-green"></i>
                    </span>
                    {{/if}}
                </a>
            </li>

            <li class="{{#if (isEquals menu_group 'education')}}active {{/if}}treeview">
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span>교육과정 관리</span>                    
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right text-green"></i></span>                
                </a>
                <ul class="treeview-menu">
                    <li><a href="/education"><i class="fa fa-circle-o"></i> 등록</a></li>
                    <li><a href="/assignment"><i class="fa fa-circle-o"></i> 배정</a></li>
                    <li><a href="/assignment_history"><i class="fa fa-circle-o"></i> 배정이력</a></li>
                </ul>
            </li>

            <li {{#if (isEquals current_path 'Course')}}class="active"{{/if}}>
                <a href="/course">
                    <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                    <span>강의/강사 등록</span>
                    {{#if (isEquals current_path 'Course')}}
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right text-green"></i>
                    </span>
                    {{else if (isEquals current_path 'CourseDetails') }}
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right text-green"></i>
                    </span>
                    {{/if}}
                </a>
            </li>

            <li {{#if (isEquals current_path 'Employee')}}class="active"{{/if}}>
                <a href="/employee">
                    <i class="fa fa-users"></i>
                    <span>직원관리</span>
                    {{#if (isEquals current_path 'Employee')}}
                        <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right text-green"></i>
                    </span>
                    {{/if}}
                </a>
            </li>            

            {{#ifCond (isEquals loggedIn.role 'superadmin') '||' (isEquals loggedIn.role 'admin')}}
            <li {{#if (isEquals current_path 'Administrator')}}class="active"{{/if}}>
                <a href="/administrator">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>관리자</span>
                    {{#if (isEquals current_path 'Administrator')}}
                      <span class="pull-right-container">
                            <i class="fa fa-angle-down pull-right text-green"></i>
                          </span>
                    {{/if}}
                </a>
            </li>
            {{/ifCond}}
        </ul>
    </section>
</aside>