<aside class="main-sidebar">
  <div class="img-container">
    <img src="/static/images/logo/{{logoImageName}}" alt="{{logo}}" width="80" />
  </div>
  <section class="sidebar">
    <ul class="sidebar-menu">
      <!-- ifCond loggedIn.role '!==' 'supervisor' -->
      <li {{#if (isEquals current_path 'Dashboard')}}class="active" {{/if}}>
        <a href="/dashboard">
          <i class="fa fa-dashboard"></i>
          <span>대시보드</span>
          {{#if (isEquals current_path 'Dashboard')}}
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right text-green"></i>
          </span>
          {{/if}}
        </a>
      </li>
      <!-- ifCond -->

      <li class="{{#if (isEquals menu_group 'achievement')}}active {{/if}}treeview" id="js--achievement-group">
        <a href="#">
          <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
          <span>진척도</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right text-green"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li {{#ifCond (isEquals current_path 'Achievement') '||' (isEquals current_path 'AchievementDetails')}}class="active" {{/ifCond}}><a href="/achievement"><i class="fa fa-circle-o"></i> 교육과정별</a></li>
          <li {{#ifCond (isEquals current_path 'AchievementUser') '||' (isEquals current_path 'AchievementUserDetails')}}class="active" {{/ifCond}}><a href="/achievement/user"><i class="fa fa-circle-o"></i> 교육생별</a></li>
        </ul>
      </li>

      <!-- ifCond loggedIn.role '!==' 'supervisor' -->
      <li class="{{#if (isEquals menu_group 'education')}}active {{/if}}treeview" id="js--education-group">
        <a href="#">
          <i class="fa fa-database"></i>
          <span>교육과정 관리</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right text-green"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li {{#if (isEquals current_path 'SimpleAssignment')}}class="active" {{/if}}>
            <a href="/simple_assignment"><i class="fa fa-circle-o"></i> 교육개설</a>
          </li>
          <li {{#ifCond (isEquals current_path 'Course') '||' (isEquals current_path 'CourseDetails')}}class="active" {{/ifCond}}>
            <a href="/course">
              <i class="fa fa-circle-o" aria-hidden="true"></i> 강의관리
            </a>
          </li>
        </ul>
      </li>
      <!-- ifCond -->

      <!-- ifCond loggedIn.role '!==' 'supervisor' -->
      <li {{#if (isEquals current_path 'Employee')}}class="active" {{/if}}>
        <a href="/employee">
          <i class="fa fa-users"></i>
          <span>교육생 관리</span>
          {{#if (isEquals current_path 'Employee')}}
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right text-green"></i>
          </span>
          {{/if}}
        </a>
      </li>
      <!-- ifCond -->

      <li {{#if (isEquals current_path 'Board')}}class="active" {{/if}}>
        <a href="/board">
          <i class="fa fa-commenting"></i>
          <span>게시판 관리</span>
          {{#if (isEquals current_path 'Board')}}
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right text-green"></i>
          </span>
          {{/if}}
        </a>
      </li>

      {{#ifCond loggedIn.role '!==' 'supervisor'}}
      <li {{#if (isEquals current_path 'Administrator')}}class="active" {{/if}}>
        <a href="/administrator">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span>관리자</span>
          {{#if (isEquals current_path 'Administrator')}}
          <span class="pull-right-container">
            <i class="fa fa-angle-down pull-right text-green"></i>
          </span>
          {{/if}}
        </a>
      </li>
       {{/ifCond}}

      {{#if (isEquals loggedIn.isdemo 0)}}
      <!-- ifCond loggedIn.role '!==' 'supervisor' -->
      <li {{#if (isEquals current_path 'Help')}}class="active" {{/if}}>
        <a href="/help">
          <i class="fa fa-question"></i>
          <span>도움말</span>
          {{#if (isEquals current_path 'Help')}}
          <span class="pull-right-container">
            <i class="fa fa-angle-down pull-right text-green"></i>
          </span>
          {{/if}}
        </a>
      </li>
      <!-- ifCond -->
      {{/if}}

      {{#if (isEquals loggedIn.isdemo 0)}}
      <li>
        <a href="http://pf.kakao.com/_aRAPd" target="_blank">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span class="txt">고객센터</span>
        </a>
      </li>
      {{/if}}
    </ul>
  </section>
</aside>