<div class="box box-solid box-success" style="position: relative; left: 0px; top: 0px;">

    <form action="/quiz" method="POST" role="form">
        <!-- box-header -->
        <div class="box-header ui-sortable-handle" style="">
            <i class="fa fa-quora"></i>
            <h3 class="box-title">문제유형</h3>
            <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                <div class="btn-group" data-toggle="btn-toggle">
                    <button type="sumit" class="btn btn-success btn-sm btn-save-quiz">
                        <i class="fa fa-save"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm btn-remove-quiz" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- box-body -->
        <div class="box-body">
            <div class="form-group">
                <input type="text" class="form-control" name="question" id="question" placeholder="질문을 입력하세요" required="" autocomplete="off">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="answer_desc" id="answer_desc" placeholder="답변을 입력하세요" required="" autocomplete="off">
            </div>
        </div>
    </form>

</div>