<div class="row home_section">
  <div class="col-xs-12">
    <p>
      아쿠아 N 미디어 애플리케이션<br> 데모 체험하기<br><br>
      <button class="btn btn-default" id="launch">PC</button>
      <button class="btn btn-default" id="launch_html5">HTML5</button>
      <button class="btn btn-default" id="start_palyer">Mobile</button>
    </p>
  </div>
</div>