<div class="row home_section">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table_assignment_history" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="center">교육과정명</th>
                        <th class="center">교육대상</th>
                        <th class="center">배정일</th>
                        <th class="center">시작일</th>
                        <th class="center">종료일</th>
                        <th class="center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#for 0 10 1}}
                        <tr>
                            <td class="center">커피를 맛있게 내리는 방법</td>
                            <td class="center"><a href="#" class="btn-link">2017.1월 특별 점장 교육 시행 대상자</a></td>
                            <td class="center">2017.01.01</td>
                            <td class="center">2017.01.02</td>
                            <td class="center">2017.01.12</td>
                            <td class="center">
                                <button class="btn btn-default btn-sm">
                                    <i class="fa fa-eye"></i> &nbsp;
                                    자세히 보기
                                </button>
                            </td>
                        </tr>
                    {{/for}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="center">교육과정명</th>
                        <th class="center">강사</th>
                        <th class="center">배정일</th>
                        <th class="center">시작일</th>
                        <th class="center">종료일</th>
                        <th class="center">Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

