<div class="row home_section">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <a href="/course" class="btn btn-default">
                    <i class="fa fa-list"></i>
                    목록으로
                </a>
                <button class="btn btn-warning">
                    <i class="fa fa-pencil-square-o"></i>
                    수정
                </button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <h3>강의 이름</h3>
                    
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

