<div class="row home_section">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="col-md-3">
                    <form class="" action="" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="교육명 검색" required />
                            <span class="input-group-btn">
                              <button type="submit" class="btn btn-warning btn-flat">검색</button>
                            </span>
                        </div>
                    </form>
                </div>
                <button class="btn btn-create-edu btn-primary pull-right">
                    <i class="fa fa-pencil-square-o"></i>
                    교육과정생성
                </button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table_education" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="center">교육과정명</th>
                        <th class="center">강사명</th>
                        <th class="center">생성일</th>
                        <th class="center">시작일</th>
                        <th class="center">종료일</th>
                        <th class="center">생성자</th>
                        <th class="center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#for 0 10 1}}
                    <tr>
                        <td class="center"><a href="#" class="btn-link">일반상식에 대한 강의입니다.</a></td>
                        <td class="center">박민규</td>
                        <td class="center">2017.01.01</td>
                        <td class="center">2017.01.02</td>
                        <td class="center">2017.01.17</td>
                        <td class="center">이재준</td>
                        <td class="center">
                            <button class="btn btn-default btn-sm">
                                <i class="fa fa-eye"></i>&nbsp;
                                상세보기
                            </button>
                            <button class="btn btn-default btn-sm">
                                <i class="fa fa-pencil"></i>&nbsp;
                                수정
                            </button>
                        </td>
                    </tr>
                    {{/for}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="center">교육과정명</th>
                        <th class="center">강사명</th>
                        <th class="center">생성일</th>
                        <th class="center">시작일</th>
                        <th class="center">종료일</th>
                        <th class="center">생성자</th>
                        <th class="center">Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

