<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />

    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>{{logoName}}</title>
    {{/if}}
</head>

<body>
    {{{body}}}
    <script src="/static/vendor/require.2.3.2.js"></script>
    <script src="/static/javascripts/app.js"></script>
    <script src="/static/javascripts/winpops/win_youtube_player.js"></script>
</body>
</html>