
<div class="container" style="max-width: 400px;">
      <div class="login-logo" style="margin-top: 45px">
        <a href="#"><b>{{logoName}}</b></a>
    </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center login-title">로그인 하세요</h1>
      <div class="account-wall">
        <img src="/static/images/login-avatar.png" alt="" class="profile-img">
        <form class="form-signin" method="post" action="/login">
          <input type="text" name="email" id="email" class="form-control" placeholder="이메일" required autofocus>
          <input type="password" name="password" class="form-control" placeholder="암호" required>
          <button class="btn btn-lg btn-warning btn-block btn-login" type="submit">로그인</button>
          <div class="checkbox pull-left">
          <label>
            <input type="checkbox" value="remember-me" id="remember">
            이메일 기억
          </label>
          </div>
          <!--<a href="#" class="pull-right need-help">도움이 필요하세요?</a><span class="clearfix"></span>-->
        </form>
      </div>
      <!--<a href="#" class="text-center new-account">회원가입</a>-->
    </div>
  </div>
</div>