
.blind {
  display: none; }

.header-bottom-line {
  border-bottom: 1px solid #ccc; }

.course-achievement {
  border: 1px solid #eee;
  max-height: 400px;
  margin-bottom: 20px; }

.container-course-list {
  max-height: 315px;
  border: 1px solid #eee;
  overflow: auto;
  margin-bottom: 10px;
  padding: 10px 10px; }

.progress-course-detail {
  margin-bottom: 15px; }
  .progress-course-detail .progress {
    margin-bottom: 5px; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.rating {
  direction: rtl;
  font-size: 17px;
  unicode-bidi: bidi-override;
  position: relative; }
  .rating span.star {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal; }
    .rating span.star:hover {
      cursor: pointer; }
    .rating span.star:before {
      color: #00A66E;
      content: "\f006"; }
    .rating span.star:hover:before, .rating span.star:hover ~ span.star:before {
      color: #00A66E;
      content: "\f005"; }
    .rating span.star:hover:after {
      direction: ltr;
      content: attr(title);
      position: absolute;
      left: 0;
      bottom: -22px;
      white-space: nowrap;
      font: normal 14px/normal Arial, Helvetica, sans-serif; }

.ratings {
  width: 85px;
  height: 17px;
  display: inline-block;
  position: relative; }
  .ratings:before, .ratings:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    position: absolute;
    top: 0;
    left: 0; }
  .ratings:before {
    color: #00A66E;
    content: "\f006\f006\f006\f006\f006"; }
  .ratings:after {
    color: #00A66E;
    content: "\f005\f005\f005\f005\f005";
    overflow: hidden; }

.ratings.empty:after {
  content: ""; }

.ratings.half:after {
  content: "\f089"; }

.ratings.one:after {
  content: "\f005"; }

.ratings.onehalf:after {
  content: "\f005\f089"; }

.ratings.two:after {
  content: "\f005\f005"; }

.ratings.twohalf:after {
  content: "\f005\f005\f089"; }

.ratings.three:after {
  content: "\f005\f005\f005"; }

.ratings.threehalf:after {
  content: "\f005\f005\f005\f089"; }

.ratings.four:after {
  content: "\f005\f005\f005\f005"; }

.ratings.fourhalf:after {
  content: "\f005\f005\f005\f005\f089"; }

.select2-selection__choice {
  background-color: #3c8dbc !important;
  border-color: #367fa9 !important; }

.select2-selection__choice__remove {
  color: rgba(255, 255, 255, 0.7) !important; }

.btn-area-employee {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 15px; }

.btn-employee-search,
.btn-employee-clear {
  position: relative;
  top: 24px; }

.dropdown-menu {
    right: 0% !important;
  /*left: -84px !important; */
}

.dropdown-menu li a {
    color: #111 !important;
}

.course-name {
  font-size: 14px; }

.session-list {
  list-style: none;
  position: relative;
  left: -20px; }
  .session-list li {
    padding: 6px 0; }
  .session-list li:hover {
    background: #eee; }

.course-desc {
  margin-top: 20px; }

.teacher-desc {
  margin-top: 20px; }

.btn-modify-session {
  margin-left: -5px; }

.btn-delete-session {
  margin-left: -5px; }

.winpop_video {
  max-width: 1024px;
  margin: 0 auto; }

.winpop_quiz {
  max-width: 800px;
  margin: 0 auto; }

.winpop_checklist {
  max-width: 800px;
  margin: 0 auto; }

#draggablePanelList li {
  cursor: move; }
#draggablePanelList .course {
  position: relative; }
#draggablePanelList .btn-delete-course {
  position: absolute;
  right: 0; }

.point_weight_total {
  text-align: right;
  font-size: 23px;
  margin-top: 20px; }

.fixed-footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}

span.handle {
  display: inline-block;
  cursor: move;
  margin: 0 5px;
}

.blocks .btn-primary
{
    padding: 24px 12px;
    margin: 0 5px;
    border-radius: 0;
}

table {
  /*border-collapse: collapse;*/
  width: 100%;
}

.checklist th, td {
  /*padding: 8px;*/
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.img-container img {
    /*position: relative;*/
    /*left: 0;*/
    /*top: 0;*/
    width: 100%;
    max-width: 50%;
    height: auto;
    /*padding: 10px 10px 10px 10px;*/
    opacity: 0.6;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    /*top: 0;*/
    /*position: relative;*/
}

.caution {
  color: red;
}

/* --------------------------------------------------
로그인
-------------------------------------------------- */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 40px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 10px 0 20px 0;
    /*width: 96px;
    height: auto;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;*/
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 15px;
}

.panel-collapse-clickable {
  cursor: pointer;
}

.description-block {
  cursor: pointer;
  padding: 8px;
}

.description-block:hover {
  background-color: #eee;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border-top-color: #F39C12;
  background-color: #F39C12;
}

.sms-button-group {
  margin-top: 5px;
}

ul.list-group > a {
  text-decoration: none;
}

/*******************************
* Accordion with plus/minus icon
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
* url: https://bootsnipp.com/snippets/3kB4m
*******************************/
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE;
}

.panel-title {
  font-size: 14px;
}

.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.more-less {
  float: right;
  color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #EEEEEE;
}

ul.session-content {
  line-height: 35px;
}

ul.session-content > li:hover {
  background-color: #EEE;
  cursor: pointer;
}

.panel-heading:hover {
  background-color: #A2A1A3;
}

.panel-title a:hover {
  color: #fff;
  font-weight: bold;
}

.mce-widget.mce-tooltip {
  display: none !important;
}

.text-red {
  color: red;
}

.mce-widget.mce-tooltip {
    display: none !important;
}

#maincontent {
  width: 100%;
}

.jquery-file-progress-bar {
  height: 18px;
    background: green;
}

.fileuploader-progress {
  position:relative;
  width:100%;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 3px;
}

.fileuploader-bar {
  background-color: #B4F5B4;
  width:0%;
  height:20px;
  border-radius: 3px;
}

.fileuploader-percent {
  position:absolute;
  display:inline-block;
  top: 1px;
  left: 48%;
}

.ui-widget.ui-tooltip {
    display: none !important;
}

.parent {
  display: table;
  table-layout: fixed;
  max-width: 400px;
  height: 100%;
}

.child {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.overflow-scroll {
  position:relative;
  height:300px;
  overflow-y:scroll;
}
/*# sourceMappingURL=styles.css.map */

