@charset "UTF-8";
// commons
.blind{
  display: none;
}

.agentTopRankList{
  // border: 1px solid #f00;
}

.agentBottomRankList{
  // border: 1px solid #f00;
}

.header-bottom-line{
  border-bottom: 1px solid #ccc;
}

.course-achievement{
  border: 1px solid #eee;
  height: 400px;
  margin-bottom: 20px;
}

.conainer-course-list{
  height: 330px;
  border: 1px solid #eee;
  overflow: auto;
}

.center{
  text-align: center;
}