<div class="winpop_video" id="watchVideo">
    <form action="/create/video" method="post">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">비디오 강좌 등록하기</h4>
            </div>

            <div class="modal-body">

                여기에 입력 필드가 나타납니다.

                <input type="hidden" name="course_id" value="{{course_id}}" />


              <hr />

              <div class="video-preview">비디오를 미리 볼 수 있습니다.</div>

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">등록</button>
            </div>
        </div>
    </form>
</div>
