<div class="winpop_final" id="createFinal">
    <form action="/course/create/final" method="post">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    파어널 테스트 등록하기
                    <button type="submit" class="btn btn-primary pull-right">등록</button>
                </h4>
            </div>

            <div class="modal-body">
            </div>

            <div class="modal-footer"></div>
        </div>
    </form>
</div>