<div class="modal fade" id="addCourse" role="dialog">
  <form class="modal-dialog" id="js--formAddCourse">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">강의 불러오기</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <table id="table_courses" class="table no-margin table-bordered table-striped" width="100%">
            <thead>
              <tr>
                <th><input type="checkbox" id="check-all"></th>
                <th class="center">강의명</th>
                <th class="center">강사명</th>
              </tr>
            </thead>
            <tbody>
              <!-- Dynamic -->
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-primary" id="btnAttachCourses">추가</button>
      </div>
    </div>
  </form>
</div>