<div class="modal fade" id="modal-point-details">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">포인트 상세내역</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table id="table_point_details" class="table no-margin table-bordered table-striped" width="100%">
            <thead>
              <tr>
                <th class="center">교육과정명</th>
                <th class="center">기간</th>
                <th class="center">이수</th>
                <th class="center">퀴즈</th>
                <th class="center">파이널</th>
                <th class="center">비디오</th>
                <th class="center">완료일</th>
                <th class="center">반복</th>
                <th class="center">포인트</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>