<!-- Create Admin -->
<div class="modal fade" id="registerAdmin" role="dialog">
    <form class="modal-dialog" method="post" action="/administrator/register" id="frm_register_admin">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">관리자 생성</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>관리자명</label>
                    <input type="text" class="form-control" name="name" placeholder="관리자명" required autocomplete="off" />
                </div>

                <div class="form-group">
                    <label>이메일</label>
                  <input type="email" class="form-control" name="email" placeholder="이메일" required autocomplete="off" />
                </div>

                <div class="form-group">
                    <label>권한을 선택하세요.</label>
                    <select name="authority" class="form-control">
                        <option value="admin">admin</option>
                        <option value="supervisor">supervisor</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>비밀번호</label>
                    <input type="password" name="pass" class="form-control" required autocomplete="off" placeholder="비밀번호를 입력하세요." />
                </div>
                <div class="form-group">
                    <label>비밀번호확인</label>
                    <input type="password" name="re_pass" class="form-control" required autocomplete="off" placeholder="비밀번호를 재입력하세요." />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                <button type="submit" class="btn btn-primary btn-register-course-submit">등록</button>
            </div>
        </div>
        <!-- /.modal-content -->
      <input type="hidden" name="group_id" class="course_group_id" />
    </form>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->