<!-- Create Employee -->
<div class="modal" id="uploadFile" role="dialog">
    <form class="modal-dialog" method="post" action="/upload/excel/create/employee" id="frm_upload_file" enctype="multipart/form-data">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">파일 업로드</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <a href="/uploads/excel/sample.xlsx" class="btn btn-default">
                        <i class="fa fa-download"></i> &nbsp;
                        양식 다운로드
                    </a>                                                    
                </div>                
                <div class="form-group">
                    <label for="exampleInputFile">직원 정보가 있는 엑셀 파일을 업로드해주세요. <br />
                        <small class="text-red">(엑셀파일만 가능합니다. 휴대폰 또는 이메일 중복, 공란이 있을 경우 입력되지 않습니다.)</small>
                    </label><br /><br />
                    <input type="file" name="file" id="exampleInputFile" required />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                <button type="submit" class="btn btn-primary btn-set-agent-password-submit">등록</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </form>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->