<!-- Create Employee -->
<div class="modal fade" id="registerEdu" role="dialog">
    <form class="modal-dialog" method="post" action="#" id="frm_register_edu">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">교육과정 등록</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                    <label>* 교육과정명</label>
                    <input type="text" class="form-control course-name" name="course_name" placeholder="교육과정명" required autocomplete="off" />
                </div>

                <!--<div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="start_dt">시작일 :</label>
                            <div class="input-group date" id="start_dt">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <label for="end_dt">종료일 :</label>
                            <div class="input-group date" id="end_dt">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="form-group">
                    <label>* 교육과정 소개</label>
                    <textarea class="form-control course-desc editor" name="course_desc" placeholder="교육과정 소개를 입력하세요."></textarea>
                </div>

                <div class="form-group">
                    <label>* 교육과정에 추가할 강의를 선택하세요.</label>
                    <select name="teacher_id" id="select-course-list" class="form-control">
                        {{#each course_list}}
                        <option value="{{course_id}}">{{course_name}} <small>({{teacher_name}})</small></option>
                        {{/each}}
                    </select>
                    <div style="text-align: right;margin-top: 5px;">
                        <button type="button" class="btn btn-default btn-add-course-edu">추가</button>
                    </div>
                </div>

                <hr />

                <h5>교육과정 내 강의 리스트</h5>
                <ul id="draggablePanelList" class="list-unstyled"></ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                <button type="submit" class="btn btn-primary btn-register-course-submit">등록</button>
            </div>
        </div>
        <!-- /.modal-content -->
      <input type="hidden" name="group_id" class="course_group_id" value="{{course_group_id}}" />
    </form>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
