<!-- Create Employee -->
<div class="modal fade" id="teacherList" role="dialog">
    <form class="modal-dialog" method="post" action="#" id="frm_teacher_list">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">등록된 강사 리스트</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <ul>
                        {{#each teacher_list}}
                        <li>{{name}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">닫기</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </form>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->